.App {
  box-sizing: border-box;
  text-align: center;
  display: flex;
  justify-content:  center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
  background-color: rgb(5, 33, 46);
}

.container{
 width:  30vw;
 height: 30vh;
}

.timer {
  margin: 3rem 0;
  width: 100%;
  display: flex;
  height: 12%;
  justify-content: center;
  align-items: center;
}

.digits {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  color: #f5f5f5;
}

.mili-sec {
  color: #e42a2a;
}

.btn{
   border:  none;
   border-radius: 6px;
   width: 5rem;
   height: 2rem;
   padding: 5px;
   margin: 1rem;
   color: white;
   font-weight: 400;
}

.success{
  background-color: rgb(15, 150, 82);
}

.success:hover{
  background-color:  rgb(24, 180, 102);
}

.error{
  background-color: rgba(221, 35, 21, 0.836);
}

.error:hover{
  background-color:  rgba(245, 52, 39, 0.911);
}

.warning{
  background-color: rgba(233, 191, 5, 0.986);
}

.warning:hover {
  background-color: rgb(255, 238, 6);
}
